// Variables
$bgdark: #a79d8b;
$bglight: #9e9082;
$red: #6d011f;
$grey: #444444;
$darkgrey: #333333;
$showcase_height: 600px;
$off_white: #fcfbf7;
$off_white_darker: #e9e9e9;
$highlite: rgb(121, 151, 11);
$content-text-height: 150px;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lobster|Mr+Dafoe|Niconne|Norican');
/*
    font-family: 'Norican', cursive;
    font-family: 'Mr Dafoe', cursive;
    font-family: 'Niconne', cursive;
    font-family: 'Lobster', cursive;
*/

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  // font-weight: 900;
  // font-size: 12px;
  // color: $red;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* We inherit box-sizing: border-box; from our <html> selector.  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector */
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Lobster', 'Norican', 'Mr Dafoe', 'Niconne', cursive;
}

a {
  text-decoration: none;
  color: $grey;
  &:hover {
    color: $red;
  }
}

em {
  font-weight: bold;
  .bold {
    font-size: larger;
    text-shadow: 1px 0 #000;
    letter-spacing: 1px;
  }
}

img,
#showcase,
#main {
  display: block;
  width: 100%;
  height: auto;
}

.highlight {
  background-color: $highlite;
  border-radius: 10%;
}

// hide large screen items
.large {
  display: none;
}
