@import 'defaults';

// Body
body {
  background-color: $bglight;
}

.playa-bg {
  position: absolute;
  background: $bgdark url('./img/playa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: inherit;
}

/* Header Showcase */
header#showcase {
  height: $showcase_height;
  width: 100%;
  position: relative;
  padding-bottom: $content-text-height;
  .bg-image {
    position: absolute;
    background: $bgdark url('./img/billboard.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: $showcase_height;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    // margin: 0;
  }
  .container {
    display: grid;
    #logo {
      max-width: 300px;
      margin: auto;
      padding: 25px;
    }
    #nav {
      margin: 25px;
      order: -1;
      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        li {
          display: inline;
        }
      }
    }
  }
  .content-wrap {
    // display: inline-block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0px;
    height: $content-text-height;
    h1 {
      font-family: 'Lobster', cursive;
      // font-family: 'Mr Dafoe', cursive;
      // font-family: 'Niconne', cursive;
      @media (min-width: 1400px) {
        color: $off_white;
      }
    }
  }
}

header::after {
  content: '';
  display: table;
  clear: both;
}

/* Main Area */
#main {
  margin-bottom: 20px;
  #icon {
    height: 300px;
    margin: 10px auto;
    .playa-bg {
      z-index: 2;
      opacity: 0.1;
      height: 59%;
    }
    ul {
      padding-top: 125px;
      padding-bottom: 125px;
      max-height: inherit;
      background-color: $bgdark;

      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 15px;
      li {
        margin: 0;
        .card {
          // margin: 20px;
          img {
            max-width: 100px;
            margin: 10px auto;
          }
          .card-content {
            .card-title {
              margin: 2px auto;
            }
            p {
              margin: 5px auto;
            }
          }
        }
      }
    }
  }
  #schedule {
    padding-top: 75px;
    padding-bottom: 175px;
    height: auto;
    // margin: 15px auto;
    position: relative;
    .content-wrap {
      padding: 25px 0 0;
      h2.content-title {
        padding-top: 0;
      }
    }
    .small {
      height: auto;
      padding: auto 0;
      margin: 0;
      padding-bottom: 15px;
    }
    .brcorg {
      position: absolute;
      bottom: 0%;
      left: 0;
      right: 0;
    }
  }
  #image {
    background-color: $bgdark;
    height: auto;
    @keyframes slidy {
      0% {
        left: 0%;
      }
      20% {
        left: 0%;
      }
      25% {
        left: -100%;
      }
      45% {
        left: -100%;
      }
      50% {
        left: -200%;
      }
      70% {
        left: -200%;
      }
      75% {
        left: -300%;
      }
      95% {
        left: -300%;
      }
      100% {
        left: -400%;
      }
    }

    div#slider {
      overflow: hidden;
    }
    div#slider figure img {
      width: 20%;
      float: left;
    }
    div#slider figure {
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite;
    }
  }
  #past-products {
    background-color: $bglight;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    .content-wrap {
      padding-top: 15px;
    }
    ul {
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-row-gap: 15px;
      li {
        h3 {
          padding-bottom: 0;
          margin-bottom: 0;
        }
        img {
          height: 200px;
          width: 200px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

#main-footer {
  background-color: $bgdark;
  padding-top: 25px;
  margin-top: 25px;
  img {
    width: 250px;
    height: auto;
    margin: auto;
  }
}

@import 'schedule';

// The following rules only apply to larger screens
@media (min-width: 900px) {
  // show large screen items
  .large {
    display: initial;
  }

  // hide small screen items
  .small {
    display: none;
  }

  /* Main Area */
  #main {
    #icon {
      ul {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
      }
    }

    #past-products {
      div {
        ul {
          min-width: 100%;
          margin: 0;
          // padding: 0;
          grid-template-columns: repeat(4, 1fr);
          column-gap: 15px;
        }
      }
    }
  }
}
